<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <script  src="/js/fletchData.js" type="module"></script>
  <script  src="/js/clickTdEvent.js" type="module"></script>
  <title>File table</title>
</head>
<body>
  <div class="bnt-wrap"></div>
  <div class="bnt-wrap">
    <button href="#">Back</button>
  </div>
  <table id="filesTable">
    <thead>
      <tr>
        <th>Type</th>
        <th>Root and Dirname/Filename</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody id="filesTableBody">

    </tbody>
  </table>
  <script>
  </script>
</body>

</html>