<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <script src="/js/fetchAndDisplayData.js"></script>
  <title>File table</title>
</head>

<body>
  <div class="bnt-wrap">
    <button id="backButton">Back</button>
  </div>
  <div class="wrap-color">
    <table id="filesTable">
      <thead>
        <tr>
          <th>Type</th>
          <th>Directory Path Name</th>
          <th>Size</th>
          <th>Kind</th>
        </tr>
      </thead>
      <tbody id='filesTableBody'>

      </tbody>
    </table>
  </div>
  <script>
  </script>
  <script src="/js/handleCellClick.js"></script>
  <script src="/js/goBackButton.js"></script>
</body>

</html>