<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>File table</title>
</head>
<body>
  <progress id="tableProgress" value="0" max="100"></progress>

    <div class="bnts-wrap   flex-wrap">
      <button id="moveBackButton">Back</button>
      <button id="btn"  onclick="document.location='http://localhost/index.html'">statistics</button>
      <button id="btn-elapsedtime"></button>
    </div>
    <h2 id="pathName"></h2>
    <table id="filesTable">
      <thead>
        <tr>
          <th>Type</th>
          <th>Directory Path Name</th>
          <th>Size</th>
          <th>Kind</th>
        </tr>
      </thead>
      <tbody id='filesTableBody'>

      </tbody>
    </table>
  </div>
  <script src="/dist/bundle.js" type="text/javascript"></script>
  <script></script>
</body>
</html>